# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
study-common/target/
study-dal/target/
study-model/target/
study-service/target/
study-web/target/
